*{
    scroll-behavior: smooth;
}

.navbar {
    background-image: linear-gradient(to right, #000000, #dc3545);
    font-family: 'Montserrat', sans-serif;
    box-shadow:  -7px 7px 14px #4b2d31,
             7px -7px 14px #d53444;
    margin-bottom: 3em;
}

.profile {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
}

.profile img {
    width: 100%;
    height: auto;
}

li:hover {
    background-color: #DC3545;
}