body:not(form)
{
    background-image: url(streamuplogo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


form input 
{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
}
